// CSS for every component base (before overwrited by style.scss) ------------------------------------------------
.product-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  transition: all ease-out 500ms;
  &:hover {
    margin-top: -5px;
    box-shadow: 0 10px 10px 0px #00000061;
  }
  .product-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, black, transparent);
    padding: 1rem;
    color: white;
    & > *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }
    .scedule {
      display: flex;
      font-size: 0.9rem;
      flex-wrap: wrap;
      & > * {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
      }
      img {
        width: 0.9rem;
        height: 0.9rem;
      }
    }
    .price {
      font-size: 1.8rem;
      font-weight: 700;
      text-align: right;
    }
  }
}

footer {
  color: #3d3d4e;
  background: #fafafb;
  padding: 4rem 1rem;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    line-height: 1.5;
    font-size: 0.9rem;
  }
  .socials {
    margin-top: 1rem;
    a {
      text-decoration: none;
      color: inherit;
    }
    img {
      height: 2rem;
      width: 2rem;
      padding: 6px;
      border-radius: 50%;
      border: 2px solid;
      margin-right: 0.5rem;
    }
  }
}

.breadcrumb {
  margin-bottom: 0.5rem;
  a {
    text-decoration: none;
    color: $primary;
    span {
      margin: 0 0.5rem;
    }
  }
}

.loading {
  background-color: #ffffffc7;
  color: $primary;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error {
  @extend .loading;
  background-color: red;
  color: white;
  font-weight: bold;
  & > * {
    margin-top: 0.5rem;
    font-weight: normal;
  }
  a {
    color: white;
    text-decoration: none;
  }
  button {
    background-color: white;
    color: red;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      box-shadow: 0 3px 10px #00000059;
    }
  }
}
