// styling for pages unique styling ------------------------------------------------

.home {
  .hero-image {
    width: 100vw;
    height: 100vh;
    position: relative;
    transition: height ease-out 1000ms;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .caption {
      position: absolute;
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 50%);
      width: max-content;
      max-width: calc(100% - 20px);
      text-align: center;
      transition: all ease-out 1000ms;
      h1 {
        color: white;
        font-size: 4rem;
        font-weight: 500;
        text-shadow: 0 10px 35px black;
        transition: font-size ease-out 1000ms;
        @include mobile_large {
          font-size: 3rem;
        }
      }
      p {
        color: white;
        font-size: 2rem;
        text-shadow: 0 10px 35px black;
        transition: font-size ease-out 1000ms;
        @include mobile_large {
          font-size: 1.5rem;
        }
      }
    }
    &.scrolled {
      height: 300px;
      .caption {
        bottom: 20px;
        transform: translate(-50%, 0);
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .content {
    padding-bottom: 3rem;
    & > .box {
      .title {
        text-align: center;
        font-size: 2rem;
        color: #0c0c0c;
        font-weight: 500;
      }
      .desc {
        text-align: center;
        font-size: 1.5rem;
        color: #0c0c0c;
        margin-top: 0.5rem;
      }
    }
  }
}

.detail {
  min-height: 100vh;
  padding-top: 3rem;
  .title {
    color: $primary;
    margin-bottom: 1rem;
  }
  .scedule {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    & > * {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      img {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }
  .hooper {
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;
    .hooper-track li img {
      width: 100%;
      object-fit: cover;
      height: 300px;
    }
  }
  .description {
    margin-top: 1.5rem;
    .title {
      font-size: 1.5rem;
      font-weight: 500;
    }
    p {
      text-indent: 2rem;
      line-height: 1.5;
      text-align: justify;
    }
  }
  .include-exclude {
    margin-top: 1rem;
    .title {
      font-size: 1.3rem;
      font-weight: 500;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
      }
    }
  }
  .cta-card {
    background: #3d3d4e0f;
    margin: 0 auto;
    width: 90%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px -1px #3d3d4e30;
    position: sticky;
    top: 1rem;
    .price {
      font-size: 2rem;
      text-align: center;
    }
    button {
      margin-top: 1rem;
      background: red;
      border: none;
      color: white;
      width: 100%;
      padding: 10px;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #ff0000ab;
      }
    }
    .benefit {
      display: flex;
      margin-top: 1.5rem;
      flex-wrap: wrap;
      .item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
        img {
          width: 1.2rem;
          margin-right: 0.2rem;
        }
      }
    }
  }
}
